## Code to calculate the auto and manual difference using an objective function

Weighted least squares solution

### Import packages, functions, manual and automated data

In [1]:
import pandas as pd
import numpy as np
import os
import subprocess
import matplotlib.pyplot as plt
import numpy.ma as ma
import datetime
import math

manual_path = '/media/jukes/jukes1/Manual/'; manual_filename = 'manual_tpos.csv'
auto_path = '/home/jukes/Documents/Sample_glaciers/'

In [68]:
os.chdir('/home/jukes/automated-glacier-terminus') #import necessary functions:
from automated_terminus_functions import distance

In [2]:
#MANUAL TERMINUS POSITIONS
manual_df = pd.read_csv(manual_path+manual_filename, dtype=str,sep=',')

#SPLIT INTO 3 DATAFRAMES FOR 3 FLOWLINES:
manual50 = manual_df[['BoxID','datetimes', 'intersect_x', 'intersect_y', 
                                      'tpos50']].copy().reset_index(drop=True).rename(columns={"tpos50": "tpos"})
manual25 = manual_df[['BoxID','datetimes', 'intersect_x', 'intersect_y', 
                                      'tpos25']].copy().reset_index(drop=True).rename(columns={"tpos25": "tpos"})
manual75 = manual_df[['BoxID','datetimes', 'intersect_x', 'intersect_y',
                                      'tpos75']].copy().reset_index(drop=True).rename(columns={"tpos75": "tpos"})

In [3]:
manual_df

,Unnamed: 0,BoxID,datetimes,Line_x,Line_y,intersect_x,intersect_y,tpos50,tpos25,tpos75
0,186,001,2013-05-05,"[135, 134, 135, 133, 133, 132, 134, 134, 135, ...","[141, 142, 142, 143, 144, 145, 146, 147, 147, ...",142,159,390.0,270.0,465.0
1,269,001,2013-05-14,"[131, 132, 133, 133, 134, 135, 136, 136, 137, ...","[144, 145, 146, 147, 148, 149, 149, 150, 150, ...",142,159,390.0,240.0,450.0
2,184,001,2013-05-29,"[132, 132, 132, 134, 134, 136, 136, 137, 139, ...","[143, 144, 145, 146, 147, 147, 148, 149, 150, ...",144,159,420.0,285.0,480.0
3,254,001,2013-08-23,"[133, 132, 133, 131, 132, 131, 130, 131, 131, ...","[142, 143, 143, 144, 144, 145, 146, 147, 148, ...",140,159,360.0,210.0,465.0
4,266,001,2013-08-27,"[130, 129, 130, 129, 130, 131, 132, 133, 133, ...","[144, 145, 145, 148, 149, 149, 149, 150, 151, ...",140,159,360.0,180.0,435.0
5,238,001,2013-09-03,"[128, 129, 129, 130, 131, 131, 132, 134, 134, ...","[141, 142, 143, 143, 143, 144, 145, 146, 147, ...",141,158,375.0,270.0,465.0
6,279,001,2013-09-10,"[131, 132, 130, 131, 129, 130, 129, 129, 130, ...","[140, 141, 142, 142, 143, 143, 144, 146, 147, ...",139,158,345.0,195.0,450.0
7,236,001,2013-09-19,"[130, 131, 129, 130, 129, 128, 129, 129, 130, ...","[142, 142, 144, 144, 146, 147, 147, 148, 149, ...",138,158,330.0,165.0,420.0
8,239,001,2013-09-26,"[129, 128, 129, 128, 129, 130, 130, 131, 132, ...","[144, 146, 146, 147, 147, 147, 148, 149, 149, ...",137,158,315.0,165.0,420.0
9,195,001,2014-03-14,"[130, 131, 131, 133, 133, 134, 134, 135, 136, ...","[146, 147, 148, 148, 149, 149, 150, 150, 151, ...",139,158,345.0,210.0,435.0
10,226,001,2014-03-19,"[130, 131, 130, 131, 131, 131, 132, 132, 134, ...","[141, 141, 142, 143, 145, 146, 146, 147, 148, ...",141,159,375.0,225.0,450.0
11,182,001,2014-03-23,"[127, 129, 129, 130, 131, 131, 131, 131, 132, ...","[142, 142, 143, 143, 143, 144, 145, 146, 146, ...",141,158,375.0,225.0,435.0
12,241,001,2014-03-28,"[130, 130, 131, 130, 131, 131, 131, 132, 131, ...","[140, 141, 141, 142, 143, 145, 146, 146, 148, ...",141,158,375.0,210.0,435.0
13,212,001,2014-04-08,"[130, 131, 131, 131, 131, 131, 131, 132, 132, ...","[141, 141, 142, 143, 144, 145, 146, 146, 147, ...",141,158,375.0,225.0,435.0
14,187,001,2014-04-13,"[130, 131, 130, 131, 131, 131, 132, 132, 133, ...","[141, 141, 142, 143, 145, 146, 146, 147, 148, ...",141,158,375.0,225.0,435.0
15,274,001,2014-05-06,"[131, 131, 131, 132, 133, 133, 134, 135, 136, ...","[142, 143, 144, 145, 146, 147, 148, 149, 149, ...",141,158,375.0,240.0,450.0
16,218,001,2014-05-22,"[135, 134, 134, 134, 134, 134, 135, 135, 136, ...","[142, 143, 144, 145, 146, 147, 147, 148, 149, ...",141,159,375.0,270.0,450.0
17,202,001,2014-05-24,"[131, 130, 131, 130, 131, 131, 132, 132, 133, ...","[140, 142, 142, 144, 145, 146, 146, 147, 148, ...",141,158,375.0,225.0,435.0
18,272,001,2014-05-26,"[132, 131, 132, 134, 134, 135, 135, 137, 138, ...","[141, 144, 145, 146, 147, 147, 148, 149, 150, ...",141,159,375.0,270.0,450.0
19,217,001,2014-06-02,"[132, 133, 131, 131, 131, 131, 132, 133, 133, ...","[141, 141, 143, 144, 145, 146, 146, 146, 147, ...",142,159,390.0,240.0,465.0
20,160,001,2014-06-09,"[132, 132, 131, 132, 133, 133, 135, 135, 137, ...","[141, 142, 144, 145, 146, 147, 147, 148, 149, ...",142,159,390.0,240.0,465.0
21,171,001,2014-06-09,"[131, 131, 131, 132, 133, 133, 135, 135, 136, ...","[143, 145, 146, 146, 146, 147, 147, 148, 149, ...",142,159,390.0,240.0,450.0
22,192,001,2014-06-25,"[131, 131, 133, 133, 134, 135, 135, 136, 137, ...","[144, 145, 146, 147, 147, 147, 148, 148, 149, ...",141,158,375.0,240.0,465.0
23,268,001,2014-06-30,"[131, 132, 133, 133, 134, 135, 135, 136, 137, ...","[144, 145, 146, 147, 147, 147, 148, 148, 149, ...",144,159,420.0,240.0,480.0
24,256,001,2014-07-04,"[131, 131, 131, 131, 132, 132, 134, 137, 138, ...","[143, 144, 145, 146, 146, 147, 148, 149, 149, ...",141,158,375.0,225.0,450.0
25,250,001,2014-07-09,"[131, 131, 132, 131, 132, 132, 133, 134, 136, ...","[143, 144, 145, 146, 146, 147, 148, 148, 149, ...",141,159,375.0,225.0,465.0
26,221,001,2014-07-11,"[134, 135, 135, 136, 138, 139, 140, 140, 141, ...","[147, 147, 148, 149, 150, 151, 151, 152, 153, ...",143,159,405.0,270.0,450.0
27,290,001,2014-07-20,"[131, 131, 131, 132, 132, 133, 133, 135, 135, ...","[144, 145, 146, 146, 147, 148, 149, 149, 150, ...",141,159,375.0,225.0,450.0
28,200,001,2014-07-27,"[133, 134, 134, 134, 134, 135, 135, 136, 136, ...","[144, 144, 145, 146, 147, 147, 148, 149, 150, ...",142,159,390.0,270.0,480.0
29,293,001,2014-08-12,"[130, 131, 131, 132, 132, 133, 134, 135, 136, ...","[144, 145, 146, 146, 147, 148, 148, 149, 149, ...",141,159,375.0,225.0,435.0
...,...,...,...,...,...,...,...,...,...,...
454,346,259,2015-10-02,"[294, 291, 292, 294, 289, 290, 289, 289, 288, ...","[461, 462, 462, 462, 463, 463, 464, 465, 466, ...",275,494,600.0,712.5,532.5
455,311,259,2015-10-04,"[290, 289, 289, 288, 286, 287, 285, 286, 284, ...","[469, 470, 471, 472, 473, 473, 474, 474, 475, ...",276,494,615.0,712.5,532.5
456,349,259,2015-10-04,"[293, 294, 293, 292, 292, 291, 290, 291, 289, ...","[463, 463, 464, 465, 466, 467, 468, 468, 469, ...",277,494,630.0,742.5,547.5
457,354,259,2015-11-19,"[290, 290, 290, 289, 289, 289, 288, 289, 289, ...","[462, 463, 464, 465, 466, 467, 468, 469, 470, ...",277,494,630.0,712.5,592.5
458,321,259,2016-04-11,"[301, 300, 300, 300, 300, 300, 300, 300, 299, ...","[468, 469, 470, 471, 472, 473, 474, 475, 476, ...",291,496,840.0,937.5,862.5
459,345,259,2016-04-13,"[301, 301, 301, 301, 300, 299, 299, 299, 299, ...","[471, 472, 473, 474, 475, 476, 477, 478, 479, ...",292,496,855.0,937.5,877.5
460,300,259,2016-04-29,"[309, 309, 308, 308, 306, 307, 306, 306, 306, ...","[466, 467, 468, 469, 470, 470, 471, 472, 473, ...",296,496,915.0,1027.5,907.5
461,316,259,2016-04-29,"[304, 303, 303, 303, 303, 303, 303, 302, 302, ...","[469, 470, 471, 472, 473, 474, 475, 476, 477, ...",296,496,915.0,982.5,907.5
462,367,259,2016-05-06,"[304, 304, 305, 305, 305, 304, 305, 305, 305, ...","[471, 472, 473, 474, 475, 476, 477, 478, 479, ...",298,496,945.0,997.5,907.5
463,351,259,2016-05-13,"[306, 306, 306, 306, 306, 307, 306, 306, 306, ...","[470, 471, 472, 473, 474, 475, 476, 477, 478, ...",300,497,975.0,1027.5,952.5
464,362,259,2016-05-15,"[306, 307, 307, 307, 307, 307, 307, 307, 307, ...","[470, 472, 473, 474, 475, 476, 477, 478, 479, ...",299,497,960.0,1042.5,952.5
465,304,259,2016-05-29,"[308, 308, 307, 308, 308, 308, 308, 309, 308, ...","[468, 469, 470, 471, 472, 473, 474, 475, 476, ...",302,497,1005.0,1057.5,1012.5
466,323,259,2016-06-14,"[311, 311, 312, 312, 313, 313, 312, 313, 313, ...","[470, 471, 472, 473, 475, 476, 477, 478, 479, ...",307,497,1080.0,1117.5,1072.5
467,365,259,2016-06-30,"[316, 316, 316, 317, 317, 317, 316, 317, 317, ...","[471, 472, 473, 474, 475, 476, 477, 478, 479, ...",312,498,1155.0,1177.5,1147.5
468,352,259,2016-07-02,"[318, 318, 318, 318, 318, 318, 318, 318, 318, ...","[472, 473, 474, 475, 477, 478, 479, 480, 481, ...",312,498,1155.0,1207.5,1162.5
469,330,259,2016-07-09,"[319, 319, 320, 320, 319, 319, 320, 320, 320, ...","[473, 474, 475, 476, 477, 478, 479, 480, 481, ...",314,498,1185.0,1222.5,1207.5
470,357,259,2016-07-16,"[321, 321, 321, 321, 321, 321, 321, 321, 321, ...","[474, 475, 476, 477, 478, 479, 480, 481, 482, ...",316,498,1215.0,1252.5,1237.5
471,370,259,2016-07-18,"[324, 324, 324, 324, 323, 324, 323, 322, 322, ...","[473, 474, 475, 476, 477, 477, 478, 479, 480, ...",317,499,1230.0,1282.5,1252.5
472,322,259,2016-07-25,"[325, 325, 325, 325, 325, 325, 324, 324, 324, ...","[472, 473, 474, 475, 476, 477, 478, 479, 480, ...",318,499,1245.0,1297.5,1267.5
473,325,259,2016-08-03,"[325, 326, 326, 327, 327, 327, 327, 327, 327, ...","[471, 473, 474, 475, 476, 477, 478, 479, 480, ...",322,499,1305.0,1342.5,1327.5
474,358,259,2016-09-02,"[335, 336, 337, 336, 337, 337, 338, 338, 338, ...","[469, 470, 471, 472, 473, 474, 476, 477, 478, ...",348,502,1695.0,1507.5,1777.5
475,332,259,2016-09-11,"[309, 306, 307, 306, 305, 306, 304, 303, 303, ...","[469, 470, 470, 471, 472, 472, 473, 474, 475, ...",291,496,840.0,982.5,742.5
476,341,259,2016-09-11,"[315, 313, 312, 313, 312, 311, 310, 310, 308, ...","[463, 464, 465, 465, 466, 467, 468, 469, 470, ...",291,496,840.0,982.5,757.5
477,355,259,2016-09-27,"[295, 295, 294, 294, 294, 293, 294, 292, 292, ...","[469, 470, 471, 472, 473, 474, 474, 475, 476, ...",282,495,705.0,832.5,637.5
478,305,259,2016-10-13,"[296, 295, 293, 294, 292, 291, 289, 287, 288, ...","[463, 464, 465, 465, 466, 467, 468, 469, 469, ...",274,494,585.0,712.5,577.5
479,364,259,2016-10-13,"[293, 292, 292, 290, 290, 289, 288, 288, 287, ...","[466, 467, 468, 469, 470, 471, 472, 473, 474, ...",276,494,615.0,742.5,562.5
480,336,259,2016-10-20,"[289, 289, 289, 288, 288, 288, 288, 286, 286, ...","[468, 469, 470, 471, 472, 473, 474, 475, 476, ...",276,494,615.0,757.5,577.5
481,313,259,2016-10-29,"[285, 285, 284, 284, 282, 282, 281, 280, 281, ...","[470, 471, 472, 473, 474, 475, 476, 477, 477, ...",273,494,570.0,697.5,547.5
482,301,259,2016-11-07,"[292, 293, 290, 291, 287, 288, 289, 286, 285, ...","[463, 463, 464, 464, 465, 465, 465, 466, 467, ...",274,494,585.0,652.5,577.5
483,319,259,2016-11-07,"[284, 283, 282, 280, 281, 280, 279, 279, 278, ...","[472, 473, 474, 475, 475, 476, 477, 478, 479, ...",272,494,555.0,682.5,562.5

In [46]:
#SIGMAS (DATA ERRORS) ALONG EACH FLOWLINE (FROM INTERANALYST DIFFERENCES)
sigmas = [35.02, 27.65, 30.45]
sigma_avg = np.average(sigmas); print(sigma_avg)

31.040000000000003

In [56]:
theta1s = []; theta2s = []
#FOR EACH GLACIER BOXID:
BoxIDs = list(set(manual_df.BoxID))
for BoxID in BoxIDs:
    print("Box"+BoxID)
    #grab automated tpos
    auto50 = pd.read_csv(auto_path+'Tpos_Box'+BoxID+'_flowline50_filtered.csv', dtype=str,sep=',')
    auto25 = pd.read_csv(auto_path+'Tpos_Box'+BoxID+'_flowline25_filtered.csv', dtype=str,sep=',')
    auto75 = pd.read_csv(auto_path+'Tpos_Box'+BoxID+'_flowline75_filtered.csv', dtype=str,sep=',')
    autodfs = [auto50, auto25, auto75]
    #grab manual tpos that corresponds to just boxID
    manual50_df = manual50[manual50.BoxID == BoxID].copy()
    manual25_df = manual25[manual25.BoxID == BoxID].copy()
    manual75_df = manual75[manual75.BoxID == BoxID].copy()
    manualdfs = [manual50, manual25, manual75]
    #calculate difference in terminus positions along the three flowlines
    lists3 = []; lists3_norm = []
    for i in range(0, len(manualdfs)):
        man = manualdfs[i]; auto = autodfs[i]; sigma = sigmas[i]
        compare_df = man.merge(auto, how='inner', on=['datetimes'])
        #cast terminus positions into float values
        compare_df = compare_df.astype({'tpos_x': 'float', 'tpos_y': 'float'})
        #subtract the absolute value of the difference and put into df as a column named "diff"
        compare_df['diff'] = abs(np.array(compare_df.tpos_x) - np.array(compare_df.tpos_y))  
        compare_df['diff/sigma'] = abs(np.array(compare_df.tpos_x) - np.array(compare_df.tpos_y))/sigma
        lists3.append(list(compare_df['diff']))  
        lists3_norm.append(list(compare_df['diff/sigma']))
    diff_all = lists3[0]+lists3[1]+lists3[2] #list of all the differences between manual and auto
    normalizeddiff_all = lists3_norm[0]+lists3_norm[1]+lists3_norm[2] #list of all the normalized differences
    N = len(diff_all) #number of total intersections
    
    #CALCULATE THETA:
    theta1 = (1.0/N)*np.sum(normalizeddiff_all) #sum of normalized differences along flowlines
    theta2 = (1.0/N)*(np.sum(diff_all)/sigma_avg) #sum of differences normalized by average sigma
    theta1s.append(theta1); theta2s.append(theta2)
    print("Theta values:",theta1, theta2)

Box174
Theta values: 15.250678739646302 15.153724923376984
Box002
Theta values: 43.19720044648473 43.18432633252906
Box001
Theta values: 32.47436749614078 32.26716320559405
Box120
Theta values: 13.919454254169144 13.744797471440512
Box259
Theta values: 26.457638700697967 26.416362722840447

In [60]:
list(zip(columns, theta1_for_df, theta2_for_df))

[('Theta_avg', nan, nan),
 ('174', 15.250678739646302, 15.153724923376984),
 ('002', 43.19720044648473, 43.18432633252906),
 ('001', 32.47436749614078, 32.26716320559405),
 ('120', 13.919454254169144, 13.744797471440512),
 ('259', 26.457638700697967, 26.416362722840447)]

In [67]:
#CALCULATE OVERALL THETA and write results to csv
theta1_all = np.average(theta1s)
theta2_all = np.average(theta2s)

#organize data
columns = ['Theta_avg']+BoxIDs
theta1_for_df = [theta1_all]+theta1s
theta2_for_df = [theta2_all]+theta2s
#write to csv
pd.DataFrame(list(zip(columns, theta1_for_df, theta2_for_df)), 
             columns=['ID', 'theta1', 'theta2']).to_csv(manual_path+'thetas.csv', sep=',') 

#ADJUST FILENAME TO INCLUDE PARAMETERS OR SOMETHING

In [80]:
def objective_func(manual_df):
    #SPLIT INTO 3 DATAFRAMES FOR 3 FLOWLINES:
    manual50 = manual_df[['BoxID','datetimes', 'intersect_x', 'intersect_y', 
                                          'tpos50']].copy().reset_index(drop=True).rename(columns={"tpos50": "tpos"})
    manual25 = manual_df[['BoxID','datetimes', 'intersect_x', 'intersect_y', 
                                          'tpos25']].copy().reset_index(drop=True).rename(columns={"tpos25": "tpos"})
    manual75 = manual_df[['BoxID','datetimes', 'intersect_x', 'intersect_y',
                                          'tpos75']].copy().reset_index(drop=True).rename(columns={"tpos75": "tpos"})
    #SIGMAS (DATA ERRORS) ALONG EACH FLOWLINE (FROM INTERANALYST DIFFERENCES)
    sigmas = [35.02, 27.65, 30.45]; sigma_avg = np.average(sigmas);
    
    theta1s = []; theta2s = []
    #FOR EACH GLACIER BOXID:
    BoxIDs = list(set(manual_df.BoxID))
    for BoxID in BoxIDs:
        print("Box"+BoxID)
        #grab automated tpos
        auto50 = pd.read_csv(auto_path+'Tpos_Box'+BoxID+'_flowline50_filtered.csv', dtype=str,sep=',')
        auto25 = pd.read_csv(auto_path+'Tpos_Box'+BoxID+'_flowline25_filtered.csv', dtype=str,sep=',')
        auto75 = pd.read_csv(auto_path+'Tpos_Box'+BoxID+'_flowline75_filtered.csv', dtype=str,sep=',')
        autodfs = [auto50, auto25, auto75]
        #grab manual tpos that corresponds to just boxID
        manual50_df = manual50[manual50.BoxID == BoxID].copy()
        manual25_df = manual25[manual25.BoxID == BoxID].copy()
        manual75_df = manual75[manual75.BoxID == BoxID].copy()
        manualdfs = [manual50, manual25, manual75]
        #calculate difference in terminus positions along the three flowlines
        lists3 = []; lists3_norm = []
        for i in range(0, len(manualdfs)):
            man = manualdfs[i]; auto = autodfs[i]; sigma = sigmas[i]
            compare_df = man.merge(auto, how='inner', on=['datetimes'])
            #cast terminus positions into float values
            compare_df = compare_df.astype({'tpos_x': 'float', 'tpos_y': 'float'})
            #subtract the absolute value of the difference and put into df as a column named "diff"
            compare_df['diff'] = abs(np.array(compare_df.tpos_x) - np.array(compare_df.tpos_y))  
            compare_df['diff/sigma'] = abs(np.array(compare_df.tpos_x) - np.array(compare_df.tpos_y))/sigma
            lists3.append(list(compare_df['diff']))  
            lists3_norm.append(list(compare_df['diff/sigma']))
        diff_all = lists3[0]+lists3[1]+lists3[2] #list of all the differences between manual and auto
        normalizeddiff_all = lists3_norm[0]+lists3_norm[1]+lists3_norm[2] #list of all the normalized differences
        N = len(diff_all) #number of total intersections

        #CALCULATE THETA:
        theta1 = (1.0/N)*np.sum(normalizeddiff_all) #sum of normalized differences along flowlines
        theta2 = (1.0/N)*(np.sum(diff_all)/sigma_avg) #sum of differences normalized by average sigma
        theta1s.append(theta1); theta2s.append(theta2)
        #print("Theta values:",theta1, theta2)   
        
    #CALCULATE OVERALL THETA
    theta1_all = np.average(theta1s); theta2_all = np.average(theta2s)
    #organize data in dataframe
    column_titles = ['Theta_avg']+BoxIDs
    theta1_for_df = [theta1_all]+theta1s; theta2_for_df = [theta2_all]+theta2s
    #write to csv
    theta_df = pd.DataFrame(list(zip(column_titles, theta1_for_df, theta2_for_df)), 
                 columns=['ID', 'theta1', 'theta2'])
    return theta_df

In [78]:
# objective_func(manual_df)